.eval-bar-wrapper {
    width: 40px;
    background-color: #262421;
    border-radius: 4px;
    overflow: hidden;
}

.eval-bar-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    position: relative;
    background-color: #333;
}

.eval-score {
    position: absolute;
    width: 100%;
    text-align: center;
    font-size: 10px;
    font-weight: 700;
    z-index: 10;
}

.eval-score.top {
    top: 5px;
    color: #fff;
}

.eval-score.bottom {
    bottom: 5px;
    color: #333;
}

.eval-bar-fill {
    background-color: #ffffff;
    transition: height 0.4s ease-out;
}