:root {
  --font-family-system:
    -apple-system, BlinkMacSystemFont, "Segoe UI", system-ui, Helvetica, Arial,
    sans-serif;
  --font-family-heading: "Chess Sans", sans-serif;

  --color-bg-primary: #302e2b;
  --color-bg-panel: #262421;
  --color-bg-panel-header: #21201d;
  --color-bg-tertiary: #21201d;

  --color-text-primary: #c3c3c3;
  --color-text-highlight: #ffffff;
  --color-text-default: #c3c3c3;
  --color-text-subtle: #999;

  --accent-green: #81b64c;
  --color-green-400: #81b64c;
  --color-green-300: #81b64c;

  --border-color: #403d39;

  --bg-app: var(--color-bg-primary);
  --bg-panel: var(--color-bg-panel);
  --bg-panel-header: var(--color-bg-panel-header);
  --bg-move-active: #484643;
  --bg-move-hover: #3a3835;

  --text-primary: #c3c3c3;
  --text-highlight: #ffffff;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  background-color: var(--bg-app);
  color: var(--text-primary);
  font-family: var(--font-family-system);
  font-size: 1.4rem;

  line-height: 1.43;
  margin: 0;
  padding: 0;
}

*,
:after,
:before {
  box-sizing: inherit;
}

.app-container {
  display: flex;
  flex-direction: row-reverse;
  height: 100vh;
  width: 100vw;
  background-color: var(--bg-app);
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", Helvetica, Arial, sans-serif;
  color: var(--text-primary);
  overflow: hidden;
}

@media (max-width: 900px) {
  .app-container {
    flex-direction: column-reverse;
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
  }
}

@keyframes pulse {
  0% {
    opacity: 0.6;
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 0.6;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}